.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-color: $border-color-default;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;

  .logo {
    flex: 0 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav {
    flex: 1 1 auto;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}
