.tab-headers,
.tab-panels {
  list-style: none;
  padding-left: 0;
}

.tab-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #EEE;
}

.tab-header {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  color: #AAA;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 0.5rem solid transparent;
  -webkit-transition: color 250ms ease,
    border-bottom-color 250ms ease;
  transition: color 250ms ease,
    border-bottom-color 250ms ease;
}

.tab-header.active {
  color: #000;
  border-bottom-color: #F4A261;
}

.tab-header:not(:first-of-type) {
  margin-left: 1rem;
}

.tab-panel {
  padding: 1.5rem;
}

.tab-panel.hidden {
  display: hidden !important;
}
