@import 'abstracts/variables';
@import 'abstracts/colors';

@import 'base/reset';

@import 'components/SignInSignUp';
@import 'components/SignInForm';
@import 'components/SignUpForm';

@import 'components/ui/Card';
@import 'components/ui/Tabs';
@import 'components/ui/Form';
@import 'components/ui/Button';
@import 'components/ui/Logo';

html {
  min-height: 100%;
  min-width: 320px;
  font-family: 'Arimo', sans-serif;
}

.app {
  margin: 50px;
}

.create-account-form {
  margin-bottom: 50px;
}
